@import "./_var.scss";

.#{$name} {
    position: relative;

    display: inline-flex;

    &--menu {
        position: absolute;
        top: 100%;

        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        list-style: none;
    }
}
